.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 60px;
    height: 80px;
}

.navbar ul li {
    list-style: none;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar ul li {
        display: none;
    }
}